<!Doctype html>
<html lang="en">

<head>

    {{>headerlinks}}

</head>

<body>

    <!-- Main Header  -->

    <div class="containter-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">

                <div class="row">

                    <!-- Left Side Div  -->

                    <div class="col-md-12 col-12 main_header_left align-items-center">
                        
                        <figure class = "errimg">
                            <img src="images/error.jpg" alt="Error Image" class = "img-fluid" title = "Error Image">
                        </figure>

                        <p>{{errorMsg}}</p>

                        <a href="/"><button>Go Back</button></a>

                    </div>

                    <!-- Right Side Div  -->

                </div>
            </div>
        </div>
    </div>

    <!-- Footer Code  -->

    {{>footer}}

</body>

</html>