<!Doctype html>
<html lang="en">

<head>

    {{>headerlinks}}

</head>

<body>

    {{>navbar}}

    <!-- Main Header  -->

    <div class="containter-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">

                <div class="row">

                    <!-- Left Side Div  -->

                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        
                        <figure>
                            <img src="images/profile.jpg" alt="Profile Image" class = "img-fluid" title = "Profile Image">
                        </figure>
                        
                    </div>

                    <div class="col-md-6 col-12 main_header_left">

                        <p>Welcome to Weather App</p>

                        <h1>A perfect Website to check your city Weather Instantly.<br>
                        <span class = "text_clr">Developed By : Varun Hatkar</span>
                        <br>Hope you enjoy this Website.</h1>

                    </div>

                    <!-- Right Side Div  -->

                </div>
            </div>
        </div>
    </div>

    <!-- Footer Code  -->

    {{>footer}}

</body>

</html>